/ .page-section-bg.half-bg-col
/   .img-col-left
/     .col-bg
/       / Google map
/       .map-section
/         #googleMap2.map-container
/   .container
/     .row
/       .col-md-6
/       .col-md-6
/         %h2.section-title
/           New Jersey Office
/           %span.item-divider-3.style-3
/         .content-element5
/           .our-info
/             %p
/               %i.licon-map-marker>
/               8901 Marmora Road, Glasgow, D04 89GR.
/             %p{:content => "telephone=no"}
/               %i.licon-telephone>
/               +1 800 559 6580
/             %p{:content => "telephone=no"}
/               %i.licon-printer>
/               +1 800 889 9898
/             %p
/               %i.licon-clock3>
/               Mon-Fri 8am- 5pm / Phones are open 24/7
/           %a.info-btn{:href => "https://www.google.com/maps/dir//2032+S+Elliott+Ave,+Aurora,+MO+65605/@36.9487043,-93.7878472,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x87cf4b1a194c90e1:0xba30bfe0c0a857c!2m2!1d-93.7178072!2d36.9487249"} Get Directions