var cf = $('#contact-form');
cf.append('<div class="message-container"></div>');

if(cf.find('textarea').val().length < 20){
  text = "Message must contain at least 20 characters!"
}
if(cf.find('input').val() == ""){
  text = "All required fields must be filled!";
}
$('.message-container').html('<div class="alert-error"><p>'+text+'</p></div>')
  .delay(150)
  .slideDown(300)
  .delay(4000)
  .slideUp(300,function(){
    $(this).html("");
  });
