%footer#footer.footer.style-2
  .container
    .main-footer
      .row.flex-row
        .col-md-5.col-sm-12
          .widget
            %a.logo{:href => "#"}
              %img{:alt => "", :src => "#{asset_path 'stock/logo2.png'} "}/
            .content-element4
              %ul.contact-info.style-2
                %li.info-item
                  .pre Звоните сегодня
                  .item-info
                    %span{:content => "telephone=no"}=@settings.try(:phone)
            %p
              =@settings.try(:address)
              %br/
              %span Тел.:
              =@settings.try(:phone)
              %br/
              %span Доп.:
              -@additional_phones.each do |additional_phone|
                =additional_phone.value
              %br/
              %span Часы открытия:
              -@settings.opening_hours.each do |oh|
                ="#{oh.title} : #{oh.value}"
            %a.info-btn{:href => "#"} Найти нас
        .col-md-3.col-sm-12
          .widget
            %h6.widget-title Быстрые ссылки
            %ul.info-links.v-type
              %li
                %a{:href => "#"} Главная
              %li
                %a{:href => "#"} О нас
              %li
                %a{:href => "#"} Услуги
              %li
                %a{:href => "#"} Адвокаты
              %li
                %a{:href => "#"} Блог
              %li
                %a{:href => "#"} Контакты
                
        .col-md-4.col-sm-12
          .widget
            %h6.widget-title Подпишитесь на рассылку
            =form_with model: NewsletterRequest.new, class: 'newsletter', id: 'newsletter' do |f|
              =f.email_field :email, placeholder: 'Введите адрес эл. почты'
              =button_tag do
                %i.licon-envelope
                
          .widget
            %h6.widget-title Оставайтесь с нами на связи
            %ul.social-icons
              %li
                %a{:href => @settings.try(:facebook)}
                  %i.icon-facebook
              %li
                %a{:href => @settings.try(:twitter)}
                  %i.icon-twitter
              %li
                %a{:href => @settings.try(:vk)}
                  %i.icon-vkontakte
              %li
                %a{:href => @settings.try(:linkedin)}
                  %i.icon-linkedin-3
    .copyright
      %p Copyright Шабансебле © 2018. Все права зарезервированы.