%nav#mobile-advanced.mobile-advanced
/ - - - - - - - - - - - - - Header - - - - - - - - - - - - - - - -
%header#header.header.style-3.sticky-header
  / searchform
  .searchform-wrap
    .vc-child.h-inherit
      %form
        %button.search-button{:type => "submit"}
        .wrapper
          %input{:name => "search", :placeholder => "Start typing...", :type => "text"}/
      %button.close-search-form
  / Pre header
  .pre-header
    .container.extra
      .flex-row.flex-justify
        %p
          %i.licon-map-marker
          =Setting.first.try(:address)
        .socials
          / .lang-area
          /   %a.current{:href => "#"} En
          /    | 
          /   %a{:href => "#"} Español
          =render partial: 'front/navigation/share_alishare'
  / Top header
  .top-header
    .container.extra
      .flex-row.flex-center.flex-justify
        / logo
        .logo-wrap
          %a.logo{:href => root_path}
            %img{:alt => "", :src => "#{asset_path 'stock/logo2.png'}"}/
        / Contact info
        %ul.contact-info.style-2
          %li.info-item.with-icon
            %i.licon-telephone
            .pre Позвоните сегодня
            .item-info
              %span{:content => "telephone=no"}=@settings.try(:phone)
  / - - - - - - - - - - - / Mobile Menu - - - - - - - - - - - - -
  / main menu
  .menu-holder
    .container.extra
      .menu-wrap.flex-row.flex-justify.flex-center
        .nav-item
          / - - - - - - - - - - - - - Navigation - - - - - - - - - - - - - - - -
          %nav#main-navigation.main-navigation
            %ul#menu.clearfix
              %li.current
                %a{:href => root_path} Главная
              %li.dropdown.has-megamenu
                %a{:href => "#"} Услуги
                / sub menu
                .sub-menu-wrap.mega-menu.flex-row
                  -Category.top_level.in_groups_of(4, false).each do |category_group|
                    %ul
                      -category_group.each do |category|
                        %li
                          %a{:href => category_subcategories_path(category)}=category.title
              %li.dropdown
                %a{:href => "#"} Компания
                / sub menu
                .sub-menu-wrap
                  %ul
                    %li
                      %a{:href => cases_path} Реализованные кейсы
                    %li
                      %a{:href => articles_path} Статьи
                    %li
                      %a{:href => posts_path} Блоги
              %li
                %a{:href => contact_path} Контакты
          / - - - - - - - - - - - - end Navigation - - - - - - - - - - - - - - -
        .search-holder
          -unless controller.action_name == 'index'
            %a.btn.btn-big.btn-style-2{:href => "#contact-form"} Бесплатная консультация
            %button.search-button{:type => "button"}
/ - - - - - - - - - - - - end Header - - - - - - - - - - - - - - -
