.content-element6
  .team-holder.type-2
    / team element
    .team-item
      %h5 About Author
      .team-member
        %a.member-photo{:href => "#"}
          %img{:alt => "", :src => "images/140x140_photo1.jpg"}/
        .wrapper
          %h6.member-name Admin
          %p.member-about Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %ul.social-icons.style-3
            %li.fb-icon
              %a{:href => "#"}
                %i.icon-facebook
            %li.google-icon
              %a{:href => "#"}
                %i.icon-gplus-3
            %li.tweet-icon
              %a{:href => "#"}
                %i.icon-twitter
            %li.insta-icon
              %a{:href => "#"}
                %i.icon-instagram-5