.container
  .icons-box.price-box.style-1.type-3
    .flex-row.fx-col-3
      -@cases.each do |custom_case|
        .icons-wrap
          .icons-item
            .item-box
              %h2.price=custom_case.price
              %p.text-size-medium
                =custom_case.title
              %a.info-btn.open-popup{:href => "#"} Подробнее


-@cases.each do |custom_case|
  #popup.case-popup
    .popup-inner
      %ul.case-list
        %li.case-item
          .content-element3
            .pre-title=custom_case.title
            %h5.sub-title
              %b Settlement for Dangerous Product Victims
            %p=custom_case.body
          .content-element3
            .pre-title Адвокаты
            %p.text-size-medium Шабансебле
          .content-element3
            .pre-title Результат
            %p.text-size-medium=custom_case.price
      %button.close-popup
