.container
  .row
    %main#main.col-md-8.col-sm-12
      / Entries
      .entry-box.with-sep
        / entry
        -if @articles.any?
          -@articles.each do |article|
            .entry
              / - - - - - - - - - - - - - Entry attachment - - - - - - - - - - - - - - - -
              -if article.video.present?
                .thumbnail-attachment
                  .responsive-iframe
                    %iframe{:src => "https://www.youtube.com/embed/#{article.get_video_url}?rel=0&showinfo=0&autohide=2&controls=0&playlist=J2Y_ld0KL-4&enablejsapi=1"}
              -elsif article.images.present?
                .thumbnail-attachment.carousel-type-2
                  .owl-carousel.var2.style-2{"data-max-items" => "1"}
                    -article.images.each do |image|
                      =image_tag image.thumb_medium_size.url, alt: ""
              -elsif article.cite.present?
                .thumbnail-attachment
                  .blockquote-holder
                    %blockquote
                      %p=article.cite
                      .author Роман Шабанов
              -else
                .thumbnail-attachment
                  %a{:href => "#"}
                    -if article.logo.present?
                      =image_tag article.logo.thumb_middle_size.url
                    -else
                      =placeholdit_image_tag '750x504'
                    / %img{:alt => "", :src => "images/750x504_img1.jpg"}/
              / - - - - - - - - - - - - - Entry body - - - - - - - - - - - - - - - -
              .entry-body
                .label
                  -if article.featured?
                    .title Важно
                  .date
                    %h6.month=article.created_at.strftime("%b")
                    %h4.day=article.created_at.strftime("%d")
                  %span.icon.licon-news
                .wrapper
                  .entry-meta
                    автор
                    %a.entry-cat{:href => "#"} admin
                    %a.entry-cat{:href => articles_path(category: article.article_category.id)}=article.article_category.title
                    / %a.entry-cat{:href => "#"} 2 comments
                  %h5.entry-title
                    %a{:href => article_path(article)}=article.title
                  %p=truncate(article.body, length: 200)
                  .flex-row.flex-justify.tooltips
                    %a.info-btn.with-icon{:href => article_path(article)}
                      Продолжить чтение
                      %i.licon-arrow-right
                    .info-btn.share.with-icon.left-tooltip
                      .tooltip
                        %ul.social-icons.style-2
                          %li
                            %a{:href => "#"}
                              %i.icon-facebook
                          %li
                            %a{:href => "#"}
                              %i.icon-twitter
                          %li
                            %a{:href => "#"}
                              %i.icon-gplus-3
                          %li
                            %a{:href => "#"}
                              %i.icon-linkedin-3
                      %i.licon-share2
                      Поделиться
        -else
          .entry
            К сожалению, никаких записей нет.


      / Pagination with pagy
      =render partial: 'front/navigation/pager', locals: {path: "articles_path", page: @page}

    =render partial: 'front/articles/sidebar'