.ibox.float-e-margins
  .ibox-title
    %h5
      ="#{controller.action_name.capitalize} #{object.class.name}"
      %small With custom checbox and radion elements.
    .ibox-tools
      %a.collapse-link
        %i.fa.fa-chevron-up
      %a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
        %i.fa.fa-wrench
      %ul.dropdown-menu.dropdown-user
        %li
          %a{:href => "#"} Config option 1
        %li
          %a{:href => "#"} Config option 2
      %a.close-link
        %i.fa.fa-times
  .ibox-content

    =render partial: "admin/shared/form/sublevels/sublevel_fields", locals: { f: f, object: object }

    =render partial: "admin/shared/form/articles/article_fields", locals: { f: f, object: object }

    =render partial: "admin/shared/form/posts/post_fields", locals: { f: f, object: object }

    =render partial: "admin/shared/form/contact_requests/contact_request_fields", locals: { f: f, object: object }

    =render partial: "admin/shared/form/settings/setting_fields", locals: { f: f, object: object }


    -if object.respond_to?(:active)
      .form-group
        %label.col-sm-2.control-label
          Запись активна?
        .col-sm-10
          =f.check_box :active, class: 'form-control', checked: "checked"
          %span.help-block.m-b-none=t('admin.form.hints.active')
      .hr-line-dashed
    / Fields for general settings start (only unique fields)

    -if object.respond_to?(:title)
      .form-group
        %label.col-sm-2.control-label
          Название
        .col-sm-10
          =f.text_field :title, class: 'form-control'
      .hr-line-dashed
    
    -if object.respond_to?(:description)
      .form-group
        %label.col-sm-2.control-label
          Описание
        .col-sm-10
          =f.text_area :description, class: 'form-control', rows: 12, data: {provide: "markdown"}
          / =f.bootsy_area :description, class: 'form-control', rows: 12
          %span.help-block.m-b-none A block of help text that breaks onto a new line and may extend beyond one line.
      .hr-line-dashed

    -if object.respond_to?(:body)
      .form-group
        %label.col-sm-2.control-label
          Основной текст
        .col-sm-10
          =f.text_area :body, class: 'form-control', rows: 12, data: {provide: "markdown"}
          / =f.bootsy_area :body, class: 'form-control', rows: 12
      .hr-line-dashed

    -if object.respond_to?(:email)
      .form-group
        %label.col-sm-2.control-label
          Эл. почта
        .col-sm-10
          =f.text_field :email, class: 'form-control'
          / =f.bootsy_area :body, class: 'form-control', rows: 12
      .hr-line-dashed

    -if object.respond_to?(:slug)
      .form-group
        %label.col-sm-2.control-label
          Slug
        .col-sm-10
          =f.text_field :slug, class: 'form-control'
      .hr-line-dashed

    -if object.respond_to?(:sortable)
      .form-group
        %label.col-sm-2.control-label
          Сортировка
        .col-sm-10
          =f.number_field :sortable, class: 'form-control'
          %span.help-block.m-b-none=t('admin.form.hints.sortable')
      .hr-line-dashed

    -if object.respond_to?(:tag_list)
      .form-group
        %label.col-sm-2.control-label
          Тэги
        .col-sm-10
          / =f.text_field :tag_list, value: f.object.tag_list.to_s, class: 'form-control'
          =f.select :tag_list, f.object.tag_list.map {|i| [i, i]}, {}, {id: 'object_keywords', class: 'form-control custom-bootstrap-tagsinput', data: {role: "tagsinput"}, multiple: true}
          %span.help-block.m-b-none Тэги разделяются запятыми (тэг1, тэг2, другой тэг, тэг4)
      .hr-line-dashed



    / Posts part begin (only unique to posts fields)
    / =render partial: 'admin/shared/form/requests/request_fields', locals: { f: f, object: object }

    / / Posts part begin (only unique to posts fields)
    / =render partial: "admin/shared/form/posts/post_fields", locals: { f: f, object: object }

    / / User part begin (only unique to user fields)
    / =render partial: "admin/shared/form/user_fields", locals: { f: f, object: object }
    / / User part end

    / / Settings - City Settings fields begin
    / =render partial: "admin/shared/form/city_fields", locals: { f: f, object: object }
    / / City setting fields end

    / / Gallery fields being
    =render partial: "admin/shared/form/services/service_fields", locals: { f: f, object: object }
    / / Gallery fields end




    .hr-line-dashed
    .form-group
      .col-sm-4.col-sm-offset-2
        =link_to 'Назад', send("admin_#{local_assigns[:namespace]}#{object_name(object).pluralize}_path"), class: 'btn btn-white'
        =f.submit 'Сохранить', id: 'shared_form_submit_button', class: 'btn btn-primary'
    .ibox-footer
      %span.pull-right
        =t('admin.form.misc.required')

    .hr-line-dashed
    .form-group
      .col-sm-12
        Схожие сущности:
        =@related
